/* ------------- 헤더 gnb ------------ */
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:13px;
}

#wrap{
    width:1280px;
	margin: auto !important;
	height:100%;
	position:relative;
}

#headerWrap{
    width:1280px;
    height:90px;
    margin:0 auto;
}
.header_gnb{
    width:100%;
    height:90px;
    position:relative;
}

.header_gnb::after{contain:''; display:block; clear:both;}
.logo_ssf img{
    width:80px;
    height:80px;
    left:0;
    margin-top:25px;
    float:left;
}

.direct{
    float: left;
    position: absolute;
    top: 66px;
    left:100px;
    width: 320px;
}

.direct ul::after{contain:''; display:block; clear:both;}
.direct ul li{    
    float: left;
    height: 12px;
    line-height: 12px;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #b4b4b4;
}
.direct ul li:nth-child(1){
    margin-left:0px;
    border-left:none;
}
.direct ul li a{
    font-size:16px;
    font-weight:700;
    color:#111111;
    letter-spacing: -0.02em;
}

/**/

.status{
    float: right;
    margin: 60px 60px 34px 0;
    height: 22px;
    line-height: 22px;
    width:28%;
}
.status ul{
    position:absolute;
    right:0;
}
.status ul::after{
    contain:''; display:none; clear:both;
}
.status ul li{float:left;
    margin-left:32px;
    font-size:14px;
    font-family:400
}

.status ul li a .basketNum{
    margin-left:5px;
    display:inline-block;
    width: 18px;
    height:18px;
    border-radius:10px;
    background:#5b1eaa;
    text-align:center;
    line-height:1.4;
    color:#fff;
    font-size:12px;
}

.lang_select{    
    display: inline-block;
    position: relative;
    margin-top: -2.5px;
    text-align: left;
    vertical-align: middle;
}
/*.option{
    display: ;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height:68px;
    border:1px solid #999999;
}
.option.ul li{
}*/

.lang_select:hover{

}

/**/

.layer{
    position: absolute;
    left: 55%;
    margin: 34px 36px 0 -207px;
    top:0;
}

.layer .input_finder{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    margin: 20px 0 0 -10px;
    padding: 0 0 7px 0;
    width: 320px;
    height: 31px;
    line-height: 42px;
    font-size: 18px;
    font-weight:500;
    border: 0;
    border-bottom: 2px solid #111;
    float:left;
    outline:none;
}

.layer span i{
    font-size:23px;
    color:#111111;
    position:absolute;
    bottom:6px;
    right:5px;
}

/* ----------- 네비 lnb -------------*/

.lnbWrap{
    width:1280px;
    margin-top:30px;
    position:relative;
    left:0;    
}

.lnb{
    width:100%;
    height:50px;
    margin:0 auto;
    position:relative;
}

.big{
    width:43%;
}

.big::after{
    contain:''; display:none; clear:both;
}

.big li{
    float:left;
    margin-left:7%;
}

.big li:nth-child(1){
    margin-left:0px;
}

.big li:last-child{
    height:12px;
    border-right:1px solid #999999;
    margin-top:8px;
}

.big li a{
    font-size:16px;
    font-weight:500;
    color:#111111;
    display:block;
}

.big li a:hover{
    color:#5b1eaa;
}

/**/

ul.mid{
    width:26%;
    float:left;}

ul.mid::after{contain:''; display:none; clear:both;}

.mid li{
    float:left;
    margin-left:12%;
}

.mid li:last-child{
    height:12px;
    border-right:1px solid #999999;
    margin-top:8px;
}

.mid li a{
    font-size:16px;
    font-weight:400;
    color:#111111;
    display:block;
}

/**/

.mid_bold{
    width: 26%;
    float:left;
}
ul.mid_bold::after{contain:''; display:none; clear:both;}
.mid_bold li{
    float:left;
    margin-left:10%;
}
.mid_bold li:first-child{
}

.mid li:last-child{
    height:12px;
    border-right:1px solid #999999;
    margin-top:8px;
}

.mid_bold li a{
    font-size:16px;
    font-weight:400;
    color:#181212;
    display:block;
}

.brand{
    width:5.5%;
    position:absolute;
    right:0;
}
.brand li{
}
.brand li a{
    font-size:16px;
    font-weight:bold;
    color:#5b1eaa;
    display:block;
}

.menu_bar{
    width:28px;
    height:100%;
    position:absolute;
    right:0;
    top:112px;
    display:none;
}
.menu_bar>div{
    width:25px;
    height:2px;
    background-color:#222;
    margin-top:7px;
}

.menu_bar>div:nth-child(2){
    background-color:#5b1eaa;
    width:20px;
    margin-left:5px;
}

/* ------------------------------------- */

/* ------------- 콘텐츠 -------------- */
#contentsWrap{
    min-width:1280px;
    margin:0 auto;
}

.contents{
    position:relative;
    width:100%;
}


/* -------------- 사이즈 영역 -------------- */

#contentsWrap1::after{content:''; display:block; clear:both;}

#contentsWrap1 article{
    float:left;
}

#contentsWrap1 article:nth-child(1){
    width:74.8%;
    height:499px;
}

#contentsWrap1 article:nth-child(2), #contentsWrap1 article:nth-child(3){
    width:24%;
    height:240px;
    background-color:#fff;
    margin-top:15px;
    margin-left:15px;
}

#contentsWrap1 article:nth-child(3){
    background-color:#222222;
}

#contentsWrap1 article:nth-child(2){
    margin-top:0;
}

/**/

#contentsWrap2{
    position:relative;
    width:100%;
}

#contentsWrap2 article:nth-child(1){
    width:49.3%;
    height:253px;
    margin-top:15px;
}

#contentsWrap2 article:nth-child(2), #contentsWrap2 article:nth-child(3){
    width:24%;
    height:229px;
    margin-left:15px;
    margin-top:15px;
    
}

#contentsWrap2 article:nth-child(1)::after{
    content:''; display:block; clear:both;
}

#contentsWrap2 article:nth-child(2){
    margin-left:0;
    float:left;
}

#contentsWrap2 article:nth-child(3){
    margin-left:323px;
}

#contentsWrap2 article:nth-child(4){
    width:24.2%;
    height:497px;
    margin-left:15px;
    position:absolute;
    top:0;
    left:632px;
}

#contentsWrap2 article:nth-child(5), #contentsWrap2 article:nth-child(6){
    width:24%;
    height:242px;
    margin-left:15px;
    position:absolute;
    top:0;
    right:0;
}
#contentsWrap2 article:nth-child(6){
    position:absolute;
    top:255px;
}

/*3*/

#contentsWrap3::after{content:''; display:block; clear:both;}
#contentsWrap3 article{
    width:49.4%;
    height:240px;
    float:left;
    margin-left:15px;
    margin-top:15px;
}

#contentsWrap3 article:nth-child(1){
    margin-left:0px;
}

#contentsWrap3 article:nth-child(3){
    margin-left:0px;
}


/*brand*/
#brandWrap article{
    width:100%;
    height:220px;
    margin-top:15px;
}

/* footer */
footer{
    width:100%;
    height:150px;
}


/*------콘텐츠 세부 내용 --------*/

/*article 1*/
#mainWrap{
    position:relative;
    width:100%;
    height:100%;
}
#mainWrap img{}
#mainWrap .Bt{}
#mainWrap .Bt a{}
#mainWrap .Bt a i{
    font-size:38px;
    position:absolute;
    top:50%;
    color:#222222;
}
#mainWrap .Bt a i.xi-angle-left-thin{
    position:absolute;
    left:2%;
}
#mainWrap .Bt a i.xi-angle-right-thin{
    position:absolute;
    right:2%;
}

/*메인 페이지네이션*/
#mainWrap .pageBt{
    width:48px;
    height:8px;
    position:absolute;
    bottom:8%;
   margin-left:50%;
}


#mainWrap .pageBt::after li{
    contain:''; display:block; clear:both;
}

#mainWrap .pageBt li a{
    display:block;
    width:8px;
    height:8px;
    background-color:#fff;
    float:left;
    margin-left:5px;
}

#mainWrap .pageBt li .Bt1{
    margin-left:0px;
}

#mainWrap .pageBt li a:hover{
    background-color:#5b1eaa;
}


/* article2 */
#seasonBest{
    width:100%;
    height:100%;
    position:relative;
    border-top:3px solid #222222;
}
#seasonBest h3{
    position:absolute;
    left:10px;
    top:7px;
}


#seasonBest ul.seasonCon{
    width:155px;
    height:176px;
    margin:0 auto;
    margin-top:37px;
    text-align:center;
}
#seasonBest ul.seasonCon li{
    float:left;
    margin-left:26px;
}
#seasonBest ul.seasonCon li:nth-child(1), #seasonBest ul.seasonCon li:nth-child(3){
    margin-left:0;
}
#seasonBest ul.seasonCon li:nth-child(3), #seasonBest ul.seasonCon li:nth-child(4){
    margin-top:12px;
}
#seasonBest ul.seasonCon li a{
    display:block;
}

#seasonBest ul.seasonCon li a:hover{
    color:#5b1eaa;
}

#seasonBest ul.seasonCon a img{
    width:64px;
    height:64px;
    background-color:red;
    border-radius:30px;
    
}

#seasonBest ul.seasonCon a.seasonTx{
    color:#111111;
    font-weight: 500;
    font-size:12px;
}


/* article3 */
#coupon{
    width:100%;
    height:100%;
    position:relative;
}
#coupon .couponTx{
    color:#fff;
    position:absolute;
    top:35px;
    left:35px;
}
#coupon .couponTx h3{
    font-size:22px;
    font-weight:500;
    line-height:1.4;
}
#coupon .couponTx p{
    font-size:14px;
    font-weight:200;
    margin-top:5px;
    letter-spacing: -0.04em;
}

#coupon span{
    position:absolute;
    right:32px;
    bottom:89px;
}
#coupon span img{
}

#coupon span img:hover{
    background-color:#5b1eaa;
}

#coupon .couponBt{
    width:240px;
    height:45px;
    background-color:#fff;
    line-height:45px;
    position:absolute;
    left:12.1%;
    bottom:26px;
    text-align:center;
}
#coupon .couponBt:hover{
    background-color:#5b1eaa;
    color:#fff;
    
}

#coupon .couponBt {
    font-size:14px;
    font-weight:400;
    color:#222222;
}


/* article 4 */
#bestItem{
    width:100%;
    height:100%;
    background-color:#fff;
    border:1px solid #e5e0ec;
    position:relative;
}

#bestItem div .bestItemMain{
    z-index:9;
}
#bestItem div .bestItemMain a img{
    width:259px;
    height:auto;
}


#bestItem div div{
    display:inline-block;
}

#bestItem .bestItemCon ul.mainUl{
    position:absolute;
    top:10px;
    right:24px;
}

ul.mainUl .conli a ul{
    width:323px;
    height:115px;
    border-bottom:1px solid #e5e0ec;
}
ul.mainUl .conli2 a ul{
    border-bottom:none;
}
ul.mainUl .conli a ul::after{
    contain:''; display:block; clear:both;
}
ul.mainUl .conli a ul li{
    float:left;
}
ul.mainUl .conli a ul li img{
    margin-left:10px;
    margin-top:13px;
}

ul.mainUl .conli2 a ul li img{
    margin-left:22px;
    margin-top:32px;
}

ul.mainUl .conli a ul li p{
    margin-left:30px;
    margin-top:23px;
    line-height:1.6;
    font-weight:500;
    color:#111111;
}
ul.mainUl .conli2 a ul li p{
    margin-left:40px;
    margin-top:29px;
}
ul.mainUl .conli a ul li span{
    color:#5b1eaa;
    font-weight:700;
    
}
ul.mainUl .conli a ul li span.beanpole{
    color:#999999;
    font-weight:500;

}
ul.mainUl .hotTec{
    width:30px;
    height:14px;
    background-color:#5b1eaa;
    font-size:10px;
    text-align:center;
    color:#fff;
    font-weight:400;
    margin-top:66px;
    margin-left:8px;
}

ul.mainUl .conli2 .hotTec{
    margin-left:-28px;
    margin-top:71px;
}

/* article 5 */
#kuhoBanner{
    width:100%;
    height:100%;
    position:relative;
}

#kuhoBanner .kuho_text{
    position:absolute;
    top:30px;
    left:36px;
}

/* article 6 */
#pantsBanner{
    width:100%;
    height:100%;
    position:relative;
}

#pantsBanner .pantsImg{
    width:auto;
    height:229px;
}

#pantsBanner .pants_text{
    position:absolute;
    top:95px;
    left:162px;
}

/* article 7 */
#staypeople{
    width:100%;
    height:100%;
    position:relative;
}
#staypeople>img{
    width:auto;
    height:497px;
}
#staypeople .stayTx{}
#staypeople .stayTx img{
    padding-top:14px;
    border-top:1px solid #111111;
    position:absolute;
    top:28px;
    left:34px;
}
#staypeople .stayTx h3{
    color:#111111;
    position:absolute;
    top:70px;
    left:34px;
    letter-spacing: -0.01em;
}
#staypeople p{
    position:absolute;
    bottom:36px;
    left:34px;
    color:#343336;
    
}

/* article 8~9 */
#mvioBanner1, #mvioBanner2{}
#mvioBanner1{
    width:100%;
    height:100%;
    position:relative;
}
#mvioBanner1 .mvio1_text{
    position:absolute;
    right:30px;
    top:27px;
    padding:10px 0 0 24px;
    border-top:1px solid #111111;
}

#mvioBanner2{
    width:100%;
    height:100%;
    position:relative;
}
#mvioBanner2 .mvio2_text{
    position:absolute;
    left:30px;
    top:27px;
    padding:10px 27px 0 0;
    border-top:1px solid #111111;
}

.mivoTx{
    color:#fff;
    position:absolute;
    bottom:15px;
    left:142px;
    font-size:12px;
}

/* article 9 */
#kidsMall{
    width:100%;
    height:100%;
    position:relative;
}

#kidsMall a div{
    background-image:url(../img/contents3/kids_Banner.jpg);
    width:100%;
    height:100%;
}

#kidsMall a div:hover{
    background-image:url(../img/contents3/kids_Banner_hover.jpg);
    width:100%;
    height:100%;
    transition:0.4s;
}

#kidsMall span i{
    position:absolute;
    left:50%;
    top:50%;
    font-size:50px;
    color:#111111;
}

/* article 10 */

#secondsSale{
    width:100%;
    height:100%;
    position:relative;
}

#secondsSale a div{
    background-image:url(../img/contents3/8secondsSale.jpg);
    width:100%;
    height:100%;
}
#secondsSale a h3{}
#secondsSale a h3 img{
    position:absolute;
    top:55px;
    left:56px;
}

/* article 11 */
#chips{
    width:100%;
    height:100%;
}
#chips a div{
    background-image:url(../img/contents3/chips_background.jpg);
    width:100%;
    height:100%;
}
#chips a div:hover{
    background-image:url(../img/contents3/chips_background_hover.jpg);
    width:100%;
    height:100%;
    transition:0.8s;
}


/* --------------- 브랜드 --------------*/
.brandKorea, .brandOv{
    color:#111111;
    width:100%;
    height:100%;
    background-color:#fff;
    border:1px solid #e5e0ec;
}
.brandKorea h2{
    font-size:18px;
    color:#5b1eaa;
    font-weight:700;
    margin-top:25px;
    margin-left:60px;
}
.brandKorea h3, .brandOv h3{
    font-size:18px;
    margin-left:60px;
    margin-top:25px;
}
.brandOv h3{
    margin-top:35px;
}
.brandUl{width:1140px;
    height:100px;
    margin-left:60px;
    margin-top:15px;
}

.brandUl::after{
    contain:''; display:block; clear:both;
}
.brandUl ul{
    float:left;                                 
    margin-left:88px;
}
.brandUl ul:nth-child(1){
    margin-left:0px;
}
.brandUl ul li{
    margin-top:7px;
}
.brandUl ul li a{
    font-size:12px;
    color:#111111;
}

.brandUlOv{
    width:1220px;
}
.brandUlOv ul{
    margin-left:80px;
}
.brandUlOv ul:nth-child(1){
    margin-left:0px;
}

.csr{
    border:1px solid #5b1eaa;
    color:#5b1eaa;
    font-size:10px;
    font-weight: 500;
    padding:1px 3px 1px 3px;
    text-align:center;
    margin-left:7px;
}

.new{
    background-color:#5b1eaa;
    color:#fff;
}


/* article 13 */
#reviewWrap{
    width:100%;
    height:100%;
    position:relative;
    background-color:#fff;
    border:1px solid #e5e0ec;
}

#reviewWrap div{}
#reviewWrap div img.reviewTx{
    position:absolute;
    top:25px;
    left:35px;
    padding:11px 240px 0 0;
    border-top:1px solid #111111;
}
#reviewWrap div img.talk{
    position:absolute;
    top:20px;
    right:197px;
}

#reviewWrap div p{
    color:#111111;
    position:absolute;
    top:69px;
    right:38px;
}
#reviewWrap div p span{
    color:#5b1eaa;
}

/* --------------- 푸터 --------------*/
 
#footerWrap{
    border-top:1px solid #e5e0ec;
    width:100%;
    height:100%;
    margin-top:30px;
    font-size:14px;
    position:relative;
    padding:30px 0 30px 0;
    font-weight:400;
    color:#999999;
}

#footerWrap h3{
    font-weight:500;
    margin-top:10px;
}
#footerWrap p{
    font-size:12px;
    line-height:1.5;
    position:absolute;
    margin-top:15px;
}

#footerWrap .copy{
    margin-top:95px;
}

#footerWrap .searchAll{
    position:absolute;
    right:20px;
    top:40px;
}
#footerWrap .searchAll li{
    display:inline-block;
    margin-left:20px;
}
#footerWrap .searchAll li a{
    color:#999999;
}

#footerWrap ul.allUI{
    float:right;
    text-align: right;
    margin-top:10px;
}
#footerWrap ul.allUIleft{
    margin-left:46px;
}
#footerWrap ul.allUI li{
    margin-top:5px;
    font-size:12px;
}
#footerWrap ul.allUI li a{
    color:#999999;
}

.footerLf{margin-left:20px;}
.footerRt{margin-right:20px;}


/*------------------ 타블렛 --------------------*/

@media screen and (max-width:1230px){

    #wrap{
        width:960px;
        height:100%;
        position:relative;
    }

    #headerWrap{
        width:960px;
        margin:0 auto;
        transition:1s;
    }

    .header_gnb{
        width:100%;
        transition:1s;
        margin:0 auto;
    }


    .layer .input_finder{
        display:block;
        margin: 20px 110px 0 -10px;
        width: 170px;
        height: 31px;
        font-size: 14px;
        position:relative;
        left:110px;
    }

    ul.mid{display:none;}

    .mid_bold{display:none;}

    .lnbWrap{
        width:960px;
        margin:0 auto;
    }

    .lnb{
        width:100%;
        margin-top:20px;
    }

   .big{
    width:600px;
    height:50px;
}


    .big li{
        float:left;
        margin-left:50px;
        margin-top:10px;
    }

    .big li:nth-child(1){
        margin-left:0px;
        
    }

    .big li:last-child{
        border-right:none;
    }

    .brand{
    width:8%;
    margin-top:-41px;
    margin-right:305px;
    }

    .menu_bar{
        display:block;
    }

    #mainWrap img{
        width:960px;
    }

    #contentsWrap1 article:nth-child(2){
        position:absolute;
        top:518px;
        right:320px;
       /* margin-top:15px;*/
        margin-left:640px;
        transition:1s;
    }

    #contentsWrap1 article:nth-child(3)
    {
        /*margin-left:661px;
        margin-top:30px;*/
        height:255px;
        position:absolute;
        top:748px;
        right:320px;
        transition:1s;
    }


#contentsWrap2 article:nth-child(1){
        position:absolute;
        top:249px;
        left:0px;
    }

#contentsWrap2 article:nth-child(2){
    position:absolute;
        top:3px;
        left:0px;
}

#contentsWrap2 article:nth-child(3){
    position:absolute;
        top:3px;
        left:2px;

}

#contentsWrap2 article:nth-child(4){
    position:absolute;
    top:537px;
    left:-15px;
}

#staypeople .staypeopleimg{
    width:auto;
    height:499px;
}

#contentsWrap2 article:nth-child(5){
    position:absolute;
    top:794px;
    left:314px;
}



#contentsWrap2 article:nth-child(6){
    position:absolute;
    top:794px;
    right:318px
}

.mivo{
    width:306px;
    height:auto;
}

#contentsWrap3{width:960px;
height:100%;
}

.contentsWrap3{
    width:100%;
    height:100%;
    background-color:red;
}

#contentsWrap3 article:nth-child(1){
    position:absolute;
    width:75.3%;
    top:1834px;
    left:0;
    background-image:url(../img/contents3/kids_Banner_t.jpg);
    height:280px;
    
}

#kidsMall a div{
    background-image:url(../img/contents3/kids_Banner_t.jpg);
    width:100%;
    height:329px;
}

#kidsMall a div:hover{
    background-image:url(../img/contents3/kids_Banner_t.jpg);
    width:100%;
    height:329px;
}

#contentsWrap3{
    width:960px;
}

#contentsWrap3 article:nth-child(2){
   position:absolute;
   top:1020px;
   left:314px;
}

#contentsWrap3 article:nth-child(3){
    height:280px;
    position:absolute;
    top:1537px;
    width:49.5%;
}
#chips{
    width:151.8%;
}
#chips a div{
    background-image:url(../img/contents3/chips_background_t2.jpg);

}
#chips a div:hover{
    background-image:url(../img/contents3/chips_background_t.jpg);

}

#contentsWrap3 article:nth-child(4){
    width:24.2%;
    position:absolute;
    top:1834px;
    right:0px;
    left:634px;
    z-index:99;
    display:none;
}


#brandWrap{
    position:absolute;
    top:2180px;
   
}

.brandKorea, .brandOv{
    width:75%;
    height:345px;
    background-color:none;
}

.brandOv{
    margin-top:145px;
}

.t_brand_k_ul{
    position:relative;
    top:120px;
    left:-866px;
}



.t_brand_k_ul2{
    position:relative;
    top:155px;
    left:-920px;
}



.brandUl ul:first-child{
    margin-left:0px;
}

footer{
   position:absolute;
   top:3065px;
}




